Repository mogbeyi-david/codecov-experiment: changes, and which Codecov flags are due for each by the changed paths.
All: backend, api

setup backend repo
  .idea/codeStyles/Project.xml
  .idea/codecov-experiment.iml
  .idea/dbnavigator.xml
  .idea/encodings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  backend/.gitignore
  backend/functions.js
  backend/index.js
  backend/index.test.js
  backend/package-lock.json
  backend/package.json
Due: backend

removed index file
  backend/index.js
  backend/index.test.js
Due: backend

Work
  .idea/workspace.xml
  codecov.yml
Due: none

clean up
  .idea/workspace.xml
Due: none

removed workflow
  .github/workflows/deployment.yml
  .idea/workspace.xml
Due: none

removed test
  api/index.test.js
Due: api

Path conditions:
  backend: any of: backend/
  api: any of: api/
